<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hitung Yuk</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body class="base-body">
  <div class="container-custom" style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20241015/pngtree-abstract-watercolor-background-with-pastel-colors-like-light-blue-and-pink-image_16394760.jpg');">
    <div class="label">Media Penjumlahan<br/>Bersusun Digital</div>
    <div class="spacer">
      <div class="title">"HITUNG YUK"</div>
    </div>
    <div class="footer">Untuk Anak Hambatan<br/>Pendengaran Kelas IV</div>
  </div>
</body>
</html>
